header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 768px;
	height: 100px;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	@include boxShadow(0 2.5px 5px #e8e8e8);
	z-index: 90;
	img {
		float: left;
		width: 60px;
		height: 60px;
		margin: 20px;
		@include borderRadius(50%);
	}
	nav {
		ul {
			display: flex;
			display: -webkit-flex;
			display: -ms-flex;
			justify-content: flex-end;
			-webkit-justify-content: flex-end;
			-ms-justify-content: flex-end;
			padding-top: 30px;
			li {
				@include borderRadius(50px);
				overflow: hidden;
				margin: 0 10px;
				&.active{
					background: #794940;
					color: #fff;
					a{
						color: #fff;
					}
				}
				a{
					display: block;
					padding: 10px 20px;
					color: #794940;
					font-size: 16px;
					text-decoration: none;
					&:hover{
						background: #794940;
						color: #fff;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	header {
		height: 50px;
		@include boxShadow(0 0 0px #e8e8e8);
		img {
			width: 30px;
			height: 30px;
			margin: 10px 10px 0 0;
		}
		nav {
			ul {
				justify-content: flex-start;
				-webkit-justify-content: flex-start;
				-ms-justify-content: flex-start;
				padding-top: 10px;
				li {
					margin: 0px;
					a{
						padding: 6px;
						font-size: 12px;
					}
				}
			}
		}
	}
}