
.section {
	text-align: center;
	h2 {
		font-family: "microsoft yahei";
		padding-top: 50px;
	}
}
.section1 {
	background: url(../images/section2.jpg);
	padding-top: 100px;
	.head {
		position: relative;
		width: 100px;
		height: 150px;
		margin: auto;
		@include transitionSpeed(all 3s);
		&.head-anim{
			animation: headAnim 3s;
		}
		.img-head{
			@include transitionSpeed(all 1s);
			border: 8px solid #4695fa;
		}
	}
	h3{
		color: #794940;
		font-family: "microsoft yahei";
	}
	.detail {
		font-size: 14px;
		color: #7e7371;
	}
	ul {
		position: relative;
		top: 500px;
		width: 600px;
		background: rgba(255, 255, 255, 0.2);
		text-align: left;
		color: #222;
		margin: 30px auto;
		padding: 40px 50px;
		font-size: 14px;
		@include borderRadius(5px);
		@include boxShadow(0px 0px 30px 2px #f2dede inset);
		li {
			line-height: 1.8em;
			width: 50%;
			float: left;
			b{
				float: left;
			}
			span{
				color: #794940;
			}
		}
	}
}

.section2 {
	background: url('http://7xj5et.com1.z0.glb.clouddn.com/github/myinfo/img/2bg.jpg');
	h2{
		color: #f2dede;
		margin-bottom: 50px;
	}
	.works{
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		display: block\0;
		.work-items{
			position: relative;
			width: 20%\0;
			float: left\0;
			margin: 5px 0px;
			.work-img{
				margin: 0 20px;
				position: relative;
				a {
					display: block;
				}
				.circle-bg{
					width: 170px;
					margin: auto;
					@include transitionSpeed(all 1s);
				}
				img.demo-img{
					position: absolute;
					left: 50%;
					margin-left: -65px;
					top: 0;
					z-index: 2;
					@include borderRadius(50%);
					width: 130px;
					cursor: pointer;
					margin-top: 20px;
					&:hover{
						@include boxShadow(0 0 30px 10px #f2dede);
					}
				}
				p,span{
					color: #f2dede;
				}
				p{
					margin-top: 15px;
					margin-bottom: 0px;
					font-size: 14px;
				}
				&:hover{
					.circle-bg{
						animation: circleTurn 4s infinite;
						-webkit-animation: circleTurn 4s infinite;
						-moz-animation: circleTurn 4s infinite;
						-o-animation: circleTurn 4s infinite;
						-ms-animation: circleTurn 4s infinite;
					}
				}
			}
		}
	}
}

.section3{
	background: url('http://7xj5et.com1.z0.glb.clouddn.com/github/myinfo/img/4bg.jpg');
	h2{
		margin-bottom: 30px;
		color: #fff;
	}
	.expers{
		.expers-public{
			padding-right: 0;
			padding-left: 0;
			.expers-public-item{
				position: relative;
				padding: 15px;
				.expers-public-name{
					position: relative;
					width: 200px;
					height: 60px;
					background: #f2dede;
					padding-top: 10px;
					cursor: pointer;
					@include borderRadius(10px);
					img{
						width: 40px;
						margin-left: 10px;
						float: left;
						@include borderRadius(50%);
					}
					p{
						margin: 0;
					}
				}
				.expers-public-detail{
					display: none;
					position: absolute;
					background: #fff;
					padding: 20px;
					z-index: 100;
					p{
						text-align: left;
						margin: 0;
						label{
							width: 100px;
							float: left;
							position: relative;
							top: 4px;
						}
						span{
							display: inline-block;
							word-break: break-all;
							line-height: 2em;
							i {
								display: inline-block;
								padding: 2px 5px;
								margin: 2px;
								background: #f2dede;
								@include borderRadius(5px);
								&:hover{
									background: #7e7371;
									color: #fff;
								}
							}
						}
					}
					&::before{
						content: "";
						position: absolute;
						bottom: 180px;
						width: 20px;
						height: 10px;
						background-color: #ffffff; // Old browsers
					}
				}
			}
		}
		.projects{
			h2{
				text-align: right;
				margin-right: 50px;
			}
			.projects-item{
				border-right: 6px solid #f2dede;
				margin-right: 0;
				&::before{
					position: absolute;
					bottom: -16px;
					right: -16px;
					content: "";
					width: 25px;
					height: 25px;
					background: #f2dede;
					@include borderRadius(50%);
				}
				&:last-child{
					&::before{
						width: 0;
						height: 0;
					}
				}
				.project-name{
					float: right;
					left: -1000px;
					p{
						padding-top: 6px;
					}
				}
				.project-detail{
					right: 230px;
					bottom: -140px;
					&::before{
						right: -20px;
						bottom: 180px;
						@include filter-gradient(#ffffff, #f2dede, horizontal); // IE6-9
						@include background-image(linear-gradient(left,  #ffffff 0%,#f2dede 100%));
					}
				}
			}
		}
		.jobs{
			h2{
				text-align: left;
				margin-left: 50px;
			}
			.jobs-item{
				margin-left: 0;
				.job-name{
					line-height: 42px;
					float: left;
					left: 1000px;
				}
				.job-detail{
					left: 230px;
					bottom: -100px;
					&::before{
						left: -20px;
						bottom: 140px;
						@include filter-gradient(#f2dede, #fff, horizontal); // IE6-9
						@include background-image(linear-gradient(left,  #f2dede 0%,#fff 100%));
					}
				}
			}
		}
	}
}

.section4 {
	background: url(../images/section10.jpg) repeat center top;
	overflow: hidden;
	.skills{
		display: flex;
		display: -webkit-flex;
		justify-content: space-around;
		-webkit-justify-content: space-around;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		li{
			position: relative;
			width: 160px;
			height: 180px;
			top: 1000px;
			img{
				width: 110px;
			}
			&:nth-child(odd) {
				left: 2000px;
			}
			&:nth-child(even) {
				left: -2000px;
			}
			.skills-1{
				@include transformChange(rotate(-30deg));
			}
			.skills-2{
				@include transformChange(rotate(10deg));
			}
			.skills-3{
				@include transformChange(rotate(-5deg));
			}
			.skills-4{
				@include transformChange(rotate(-15deg));
			}
			.skills-5{
				@include transformChange(rotate(5deg));
			}
			.skills-6{
				@include transformChange(rotate(15deg));
			}
			.skills-7{
				@include transformChange(rotate(-5deg));
			}
			.skills-8{
				@include transformChange(rotate(25deg));
			}
			.skills-9{
				@include transformChange(rotate(-10deg));
			}
			.skills-10{
				@include transformChange(rotate(20deg));
			}
			.skills-11{
				@include transformChange(rotate(-10deg));
			}
			.skills-12{
				@include transformChange(rotate(5deg));
			}
			.skills-13{
				@include transformChange(rotate(-15deg));
			}
			.skills-14{
				@include transformChange(rotate(-10deg));
			}
			.skills-15{
				@include transformChange(rotate(-5deg));
			}
			.skills-16{
				@include transformChange(rotate(-20deg));
			}
			.skills-17{
				@include transformChange(rotate(0deg));
			}
			.skills-18{
				@include transformChange(rotate(10deg));
			}
			.skills-19{
				@include transformChange(rotate(-10deg));
			}
			.skills-20{
				@include transformChange(rotate(30deg));
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.section{
		h2{
			font-size: 20px;
			margin-top: 0;
		}
	}
	.section1 {
		padding: 80px 10px 20px;
		.detail{
			font-size: 12px;
		}
		ul {
			top: 0px;
			width: 100%;
			margin: 10px auto;
			padding: 15px;
			font-size: 12px;
			li {
				width: 100%;
			}
		}
	}
	.section2 {
		h2{
			margin-bottom: 20px;
		}
		.works{
			display: block;
		}
	}

	.section3{
		h2{
			margin-bottom: 20px;
		}
		.expers{
			.expers-public{
				padding-left: 3%;
				h2{
					text-align: center;
				}
				.expers-public-item{
					padding: 8px;
					.expers-public-name{
						width: 96%;
					}
				}
			}
			.projects {
				h2{
					margin-right: 0;
				}
				.projects-item{
					border: none;
					&::before{
						width: 0px;
						height: 0px;
					}
					.project-name{
						float: left;
						left: 0px;
					}
				}
			}
			.jobs{
				h2{
					margin-left: 0;
				}
				.jobs-item{
					.job-name{
						left: 0px;
					}
				}
			}
		}
	}

	.section4{
		.skills{
			li {
				width: 130px;
				height: 150px;
				left: 0px !important;
				top: 0 !important;
			}
		}
	}
}

#detailEle{
	display: none;
	position: fixed;
	top: 56px;
	left: 1%;
	z-index: 100;
	.ele-detail{
		position: relative;
		width: 98%;
		background: #7e7371;
		padding: 20px;
		color: #fff;
		.hide-part{
			display: none;
		}
		p{
			text-align: left;
			margin: 0;
			label{
				width: 100px;
				float: left;
			}
			span{
				display: inline-block;
				word-break: break-all;
				line-height: 2em;
				i {
					display: inline-block;
					padding: 2px 5px;
					margin: 2px;
					background: #794940;
					@include borderRadius(5px);
					&:hover{
						background: #f2dede;
					}
				}
			}
		}
	}
}

@keyframes headAnim {
	0% {
		top: 0px;
	}
	15% {
		top: -300px;
	}
	30% {
		top: 30px;
	}
	42% {
		top: -120px;
	}
	55% {
		top: 20px;
	}
	68% {
		top: -80px;
	}
	78% {
		top: 10px;
	}
	85% {
		top: -50px;
	}
	100%{
		top: 0px;
	}
}

@keyframes circleTurn {
	0%{
		transform: rotate(0deg) scale(1);
	}
	10%{
		transform: rotate(45deg) scale(0.95);
	}
	30%{
		transform: rotate(-60deg) scale(1.05);
	}
	50%{
		transform: rotate(90deg) scale(1.1);
	}
	70%{
		transform: rotate(-60deg) scale(1.05);
	}
	90%{
		transform: rotate(45deg) scale(0.95);
	}
	100%{
		transform: rotate(0deg) scale(1);
	}
}
@-webkit-keyframes circleTurn {
	0%{
		-webkit-transform: rotate(0deg) scale(1);
	}
	10%{
		-webkit-transform: rotate(45deg) scale(0.95);
	}
	30%{
		-webkit-transform: rotate(-60deg) scale(1.05);
	}
	50%{
		-webkit-transform: rotate(90deg) scale(1.1);
	}
	70%{
		-webkit-transform: rotate(-60deg) scale(1.05);
	}
	90%{
		-webkit-transform: rotate(45deg) scale(0.95);
	}
	100%{
		-webkit-transform: rotate(0deg) scale(1);
	}
}
@-moz-keyframes circleTurn {
	0%{
		-moz-transform: rotate(0deg) scale(1);
	}
	10%{
		-moz-transform: rotate(45deg) scale(0.95);
	}
	30%{
		-moz-transform: rotate(-60deg) scale(1.05);
	}
	50%{
		-moz-transform: rotate(90deg) scale(1.1);
	}
	70%{
		-moz-transform: rotate(-60deg) scale(1.05);
	}
	90%{
		-moz-transform: rotate(45deg) scale(0.95);
	}
	100%{
		-moz-transform: rotate(0deg) scale(1);
	}
}
@-o-keyframes circleTurn {
	0%{
		-o-transform: rotate(0deg) scale(1);
	}
	10%{
		-o-transform: rotate(45deg) scale(0.95);
	}
	30%{
		-o-transform: rotate(-60deg) scale(1.05);
	}
	50%{
		-o-transform: rotate(90deg) scale(1.1);
	}
	70%{
		-o-transform: rotate(-60deg) scale(1.05);
	}
	90%{
		-o-transform: rotate(45deg) scale(0.95);
	}
	100%{
		-o-transform: rotate(0deg) scale(1);
	}
}
@-ms-keyframes circleTurn {
	0%{
		-ms-transform: rotate(0deg) scale(1);
	}
	10%{
		-ms-transform: rotate(45deg) scale(0.95);
	}
	30%{
		-ms-transform: rotate(-60deg) scale(1.05);
	}
	50%{
		-ms-transform: rotate(90deg) scale(1.1);
	}
	70%{
		-ms-transform: rotate(-60deg) scale(1.05);
	}
	90%{
		-ms-transform: rotate(45deg) scale(0.95);
	}
	100%{
		-ms-transform: rotate(0deg) scale(1);
	}
}