
.section {
	text-align: center;
}
.section1 {
	background: url(../images/section2.jpg);
	.head {
		position: relative;
		width: 122px;
		height: 122px;
		line-height: 102px;
		margin: auto;
		padding: 10px;
		background: url(../images/circle1.png);
		overflow: hidden;
		.img-border{
			position: absolute;
			left: 4%;
			top: 4%;
			width: 92%;
			@include transformChange(rotate(45deg));
			animation: trun 3s infinite;
			-webkit-animation: trun 3s infinite;
			-moz-animation: trun 3s infinite;
			-o-animation: trun 3s infinite;
		}
		.img-head{
			@include transitionSpeed(all 1s);
			width: 90%;
			border: 4px solid #7e7371;
			@include borderRadius(50%);
			&:hover {
				@include transformChange(rotate(360deg));
			}
		}
	}
	h2{
		color: #794940;
		font-family: "microsoft yahei";
	}
	.detail {
		font-size: 14px;
		color: #7e7371;
	}
	ul {
		width: 600px;
		background: rgba(255, 255, 255, 0.2);
		text-align: left;
		color: #222;
		margin: 30px auto;
		padding: 40px 50px;
		font-size: 14px;
		@include borderRadius(5px);
		@include boxShadow(0px 0px 30px 2px #f2dede inset);
		li {
			line-height: 1.8em;
			width: 50%;
			float: left;
			b{
				float: left;
			}
			span{
				color: #794940;
			}
		}
	}
}

.section2 {
	background: url(../images/2bg.jpg);
	h2{
		color: #f2dede;
		font-family: "microsoft yahei";
		margin-bottom: 50px;
	}
	.works{
		display: flex;
		display: -webkit-flex;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		.work-items{
			position: relative;
			flex: 1;
			margin: 5px 0px;
			.work-img{
				margin: 0 20px;
				position: relative;
				a {
					display: block;
				}
				.circle-bg{
					width: 170px;
					margin: auto;
					@include transitionSpeed(all 1s);
				}
				img.demo-img{
					position: absolute;
					left: 50%;
					margin-left: -65px;
					top: 0;
					z-index: 2;
					@include borderRadius(50%);
					width: 130px;
					cursor: pointer;
					margin-top: 20px;
					&:hover{
						@include boxShadow(0 0 30px 10px #f2dede);
					}
				}
				p,span{
					color: #f2dede;
				}
				p{
					margin-top: 15px;
					margin-bottom: 0px;
					font-size: 14px;
				}
				&:hover{
					.circle-bg{
						animation: circleTurn 4s infinite;
						-webkit-animation: circleTurn 4s infinite;
						-moz-animation: circleTurn 4s infinite;
						-o-animation: circleTurn 4s infinite;
					}
				}
			}
		}
	}
}

.section3{
	background: url(../images/3bg.jpg);
	h2{
		font-family: "microsoft yahei";
		color: #f2dede;
		margin-bottom: 30px;
	}
	.projects{
		.projects-item{
			position: relative;
			border-right: 6px solid #f2dede;
			padding: 15px;
			margin-right: 30%;
			&::before{
				position: absolute;
				bottom: -16px;
				right: -16px;
				content: "";
				width: 25px;
				height: 25px;
				background: #f2dede;
				@include borderRadius(50%);
			}
			&:last-child{
				&::before{
					width: 0;
					height: 0;
				}
			}
			.project-name{
				width: 260px;
				height: 60px;
				padding-top: 10px;
				background: #f2dede;
				float: right;
				cursor: pointer;
				@include borderRadius(10px);
				img{
					width: 40px;
					margin-left: 10px;
					float: left;
					@include borderRadius(50%);
				}
				p{
					margin: 0;
					padding-top: 6px;
				}
			}
			.project-detail{
				position: absolute;
				right: 300px;
				bottom: -140px;
				background: #fff;
				padding: 20px;
				z-index: 100;
				p{
					text-align: left;
					margin: 0;
					label{
						width: 100px;
						float: left;
						position: relative;
						top: 4px;
					}
					span{
						display: inline-block;
						word-break: break-all;
						line-height: 2em;
						i {
							display: inline-block;
							padding: 2px 5px;
							margin: 2px;
							background: #f2dede;
							@include borderRadius(5px);
							&:hover{
								background: #7e7371;
								color: #fff;
							}
						}
					}
				}
				&::before{
					content: "";
					position: absolute;
					right: -30px;
					bottom: 180px;
					width: 30px;
					height: 10px;
					background-color: #ffffff; // Old browsers
					@include filter-gradient(#ffffff, #f2dede, horizontal); // IE6-9
					@include background-image(linear-gradient(left,  #ffffff 0%,#f2dede 100%));
				}
			}
		}
	}
}

.section4{
	background: url(../images/4bg.jpg);
	h2{
		font-family: "microsoft yahei";
		margin-bottom: 30px;
		color: #fff;
	}
	.job-exper{
		.jobs-item{
			position: relative;
			border-left: 6px solid #f2dede;
			padding: 15px;
			margin-left: 30%;
			&::before{
				position: absolute;
				bottom: -16px;
				left: -16px;
				content: "";
				width: 25px;
				height: 25px;
				background: #f2dede;
				@include borderRadius(50%);
			}
			&:last-child{
				&::before{
					width: 0;
					height: 0;
				}
			}
			.job-name{
				width: 260px;
				height: 60px;
				line-height: 60px;
				background: #f2dede;
				float: left;
				cursor: pointer;
				@include borderRadius(10px);
				img{
					width: 40px;
					margin: 10px;
					float: left;
					@include borderRadius(50%);
				}
				p{
					margin: 0;
				}
			}
			.job-detail{
				position: absolute;
				left: 300px;
				bottom: -100px;
				background: #fff;
				padding: 20px;
				z-index: 100;
				p{
					text-align: left;
					margin: 0;
					label{
						width: 100px;
						float: left;
						position: relative;
						top: 4px;
					}
					span{
						display: inline-block;
						word-break: break-all;
						line-height: 2em;
					}
				}
				&::before{
					content: "";
					position: absolute;
					left: -30px;
					bottom: 140px;
					width: 30px;
					height: 10px;
					background-color: #ffffff; // Old browsers
					@include filter-gradient(#f2dede, #fff, horizontal); // IE6-9
					@include background-image(linear-gradient(left,  #f2dede 0%,#fff 100%));
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.section1 {
		h2 {
			font-size: 20px;
		}
		.detail{
			font-size: 12px;
		}
		ul {
			width: 100%;
			margin: 10px auto;
			padding: 15px;
			font-size: 12px;
			li {
				width: 100%;
			}
		}
	}
	.section2 {
		h2{
			font-size: 20px;
			margin-bottom: 20px;
		}
		.works{
			display: block;
		}
	}

	.section3{
		h2{
			margin-bottom: 20px;
			font-size: 20px;
		}
		.projects{
			.projects-item{
				border-right: 4px solid #f2dede;
				padding: 8px;
				margin-right: 2%;
				&::before{
					bottom: -13px;
					right: -13px;
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	.section4{
		h2{
			margin-bottom: 20px;
			font-size: 20px;
		}
		.job-exper{
			.jobs-item{
				border-left: 4px solid #f2dede;
				padding: 8px;
				margin-left: 2%;
				&::before{
					bottom: -13px;
					left: -13px;
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}

#detailEle{
	display: none;
	position: fixed;
	top: 56px;
	left: 1%;
	z-index: 100;
	.ele-detail{
		position: relative;
		width: 98%;
		background: #7e7371;
		padding: 20px;
		color: #fff;
		.hide-part{
			display: none;
		}
		p{
			text-align: left;
			margin: 0;
			label{
				width: 100px;
				float: left;
			}
			span{
				display: inline-block;
				word-break: break-all;
				line-height: 2em;
				i {
					display: inline-block;
					padding: 2px 5px;
					margin: 2px;
					background: #794940;
					@include borderRadius(5px);
					&:hover{
						background: #f2dede;
					}
				}
			}
		}
	}
}

@keyframes trun {
	0%{
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(405deg);
	}
}
@-webkit-keyframes trun {
	0%{
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	100% {
		transform: rotate(405deg);
		-webkit-transform: rotate(405deg);
	}
}
@-moz-keyframes trun {
	0%{
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
	}
	100% {
		transform: rotate(405deg);
		-moz-transform: rotate(405deg);
	}
}
@-o-keyframes trun {
	0%{
		transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	100% {
		transform: rotate(405deg);
		-o-transform: rotate(405deg);
	}
}


@keyframes circleTurn {
	0%{
		transform: rotate(0deg) scale(1);
	}
	10%{
		transform: rotate(45deg) scale(0.95);
	}
	30%{
		transform: rotate(-60deg) scale(1.05);
	}
	50%{
		transform: rotate(90deg) scale(1.1);
	}
	70%{
		transform: rotate(-60deg) scale(1.05);
	}
	90%{
		transform: rotate(45deg) scale(0.95);
	}
	100%{
		transform: rotate(0deg) scale(1);
	}
}
@-webkit-keyframes circleTurn {
	0%{
		-webkit-transform: rotate(0deg) scale(1);
	}
	10%{
		-webkit-transform: rotate(45deg) scale(0.95);
	}
	30%{
		-webkit-transform: rotate(-60deg) scale(1.05);
	}
	50%{
		-webkit-transform: rotate(90deg) scale(1.1);
	}
	70%{
		-webkit-transform: rotate(-60deg) scale(1.05);
	}
	90%{
		-webkit-transform: rotate(45deg) scale(0.95);
	}
	100%{
		-webkit-transform: rotate(0deg) scale(1);
	}
}
@-moz-keyframes circleTurn {
	0%{
		-moz-transform: rotate(0deg) scale(1);
	}
	10%{
		-moz-transform: rotate(45deg) scale(0.95);
	}
	30%{
		-moz-transform: rotate(-60deg) scale(1.05);
	}
	50%{
		-moz-transform: rotate(90deg) scale(1.1);
	}
	70%{
		-moz-transform: rotate(-60deg) scale(1.05);
	}
	90%{
		-moz-transform: rotate(45deg) scale(0.95);
	}
	100%{
		-moz-transform: rotate(0deg) scale(1);
	}
}
@-o-keyframes circleTurn {
	0%{
		-o-transform: rotate(0deg) scale(1);
	}
	10%{
		-o-transform: rotate(45deg) scale(0.95);
	}
	30%{
		-o-transform: rotate(-60deg) scale(1.05);
	}
	50%{
		-o-transform: rotate(90deg) scale(1.1);
	}
	70%{
		-o-transform: rotate(-60deg) scale(1.05);
	}
	90%{
		-o-transform: rotate(45deg) scale(0.95);
	}
	100%{
		-o-transform: rotate(0deg) scale(1);
	}
}