@import "compass";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

img{
  width: 100%;
}

ol,ul,li{
  list-style: none;
  list-style-type: none;
}

body{
  font-size: 12px;
  font-family: micorsofe yahei, tohoma, arial, \5b8b\4f53, sans-serif;
  line-height: 1.428;
}

.clearfix{
  *zoom: 1;
  :before, :after{
    display: table;
    line-height: 0;
    content: "";
  }
  :after{
    clear: both;
  }
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

@mixin boxShadow($shadowValue: 1px 1px 1px #fee){
  box-shadow: $shadowValue;
  -webkit-box-shadow: $shadowValue;
  -moz-box-shadow: $shadowValue;
  -o-box-shadow: $shadowValue;
}
@mixin borderRadius($radius: 5px){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin transformChange($transformChange: scale(1.1) rotate(22deg) translate(20px,20px)){
  transform: $transformChange;
  -webkit-transform: $transformChange;
  -moz-transform: $transformChange;
  -o-transform: $transformChange;
}

@mixin transitionSpeed($transitionSpeed: all 1s){
  transition: $transitionSpeed;
  -webkit-transition: $transitionSpeed;
  -moz-transition: $transitionSpeed;
  -o-transition: $transitionSpeed;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
}

@mixin animation($animation-name , $delay, $duration, $count) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation-name;
  animation-fill-mode: forwards;
  animation-iteration-count: $count;

  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation-name;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: $count;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation-name;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: $count;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation-name;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: $count;
}


@import '_index.scss';
@import '_info.scss';
